:root {
    --main-bg: #f5f4f4;
    /* --main-bg: #EBE4D2 */;
    --layer-1: #353D61;
    --layer-2: #5663a0;
    --primary: #39C3E7;
    --primary-hover: #39d1c4;
    --primary-disabled: #9fd7e6;
    --secondary: #FF6855;
    --success: #00E95D;
    --text-white: #cccccc;
    --text-disabled: #9b9b9b;
    --table-even: #dbdbdb;
    --table-odd: #cccccc;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: var(--main-bg);
    overflow-y: hidden;
}

h2 {
    color: var(--primary);
}

h4 {
    color: var(--secondary);
}

.navbar {
    border-radius: 10px;
    z-index: 10;
    width: 98vw;
    margin: 1vw 0px 0px 1vw;
    position: absolute;
}

.bg-navbar {
    background-color: var(--layer-1) !important;
}

.nav-item > * {
    color: var(--primary) !important;
}

.navbar-logo {
    height: 7.5vh;
    margin-left: 1vw;
}

.main_container {
    width: 57vw;
    background-color: var(--layer-1);
    padding: 20px;
    margin: 1vw 0px 0px 1vw;
    border-radius: 10px;
    height: 29vh;
    float: left;
}

.inner_container {
    width: 55vw;
    background-color: var(--main-bg);
    border-radius: 10px;
    height: 16.5vh;
}

.center_outer_container {
    position: absolute;
    width: 80vw;
    left: 10vw;
    top: 17.5vh;
    height: 75vh;
    background-color: var(--main-bg);
    padding: 1%;
    border-radius: 10px;
}

.center_inner_container {
    width: 100%;
    background-color: var(--layer-1);
    padding: 20px;
    border-radius: 10px;
    height: 10vh;
}

.header_text, .body_text {
    padding: 1px 10px 3px 10px;
}

.parallax {
  /* The image used */
  background-image: url("../resources/img_parallax.jpg");

  /* Set a specific height */
  height: 650px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.currText {
    float:left;
    top: 1.5vh;
    position: relative;
    color: var(--primary);
}

.select_box {
    top: 1vh;
    margin: 0px 0px 1vw 1vw;
    position: relative;
    width: 17.5vw;
    float: left;
    left: 5.5vw;
}

.select_box_curr {
    top: 0px!important;
    margin: 0px!important;
    position: relative;
    width: 17.5vw!important;
    left: -10vw!important;
}

  
.select_box select, input {
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    padding: 12px;
    width: 17.5vw;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 250ms;
}

.select_box_curr select, select_box_curr input {
    padding: 16px 16px 12px 16px!important;
    width: 7.5vw!important;
    float: right;
}

.select_box select:hover, input:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.select_box select option {
    padding: 30px;
    font-family: FontAwesome;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;

    appearance:none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='32' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h32v32H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 14px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

select:disabled, input:disabled {
    color: var(--text-disabled)!important;
    background-color: var(--primary-disabled)!important;
}
 

input {
    position: relative;
    left: 14.5vw;
    width: 25vw;
    margin-bottom: 1vh;
    font-family: FontAwesome;
}

.arrow_box {
    float: left;
    left: 6.5vw;
    margin: 0px 1vw 0px 1vw;
    top: 18px;
    position: relative;
}

.arrow_box i {
    position: relative;
    font-size: 40px;
    color: var(--primary);
    margin: 0px;
    padding: 0px;
}

.ticket_list {
    text-align: center;
}

.ticket_list h3 {
    color: var(--secondary);
    position: relative;
    top: 7vh;
}



table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 100%;
    border-spacing: 1px;
    border:solid var(--primary);
    border-width: 2px 2px 2px 2px;
    border-radius: 6px;
    color: var(--layer-2);
    overflow: hidden;
    top:-2px;
    position: relative;
    table-layout: fixed;
    text-align: center;
}

table td, table th {
    padding: 3px;
    max-width: 100px;
    font-size: 1.25em;
    border-left:solid var(--primary) 2px;
    border-top:solid var(--primary) 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    position: static;
    display: table-cell;
}
thead {border-radius: 4px 4px 0px 0px;}
tr th:first-child {border-radius: 0px 0px 0px 0px;}
tr th:last-child {border-radius: 0px 0px 0px 0px;}

table td:first-child, table th:first-child {border-left: none;}
tbody tr:nth-child(odd) {background-color: var(--table-odd);}
tbody tr:nth-child(even){background-color: var(--table-even);}       
tbody tr:hover {background-color: var(--primary-disabled);}

table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: var(--primary);
    color: var(--layer-1);
    border: none;
    font-size: 1.4em!important;
}

table thead {
    position: sticky;
    top: 0px;
}
  
.tripSelectBtn {
    border-radius: 5px;
    background-color: var(--primary-disabled);
    color: var(--layer-1);
    padding: 4px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 250ms;
}
  
.tripSelectBtn:hover {
    background-color: var(--success);
    color: var(--layer-1);
}